.pools-section {
    
}

.pools-subsection {
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 30px 30px 10px 30px;
    margin: 15px 0px;
    min-height: 70vh;
}

.kh-button {
    background: linear-gradient(to right, #015eea, #00c0fa);
    padding: 5px 25px;
    border-radius: 10px;
    color: white;
    border: unset;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.kh-button:hover {
    opacity: .75;
}

.kh-input {
    background: linear-gradient(to right, #015eea, #00c0fa);
    padding: 5px 25px;
    border-radius: 10px;
    color: white;
    border: unset;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.kh-inputfield {
    padding: 5px 15px;
    margin-top: 5px;
    border-radius: 10px;
    border: unset;
    width: 100%;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    text-align: left;
}

input:focus {
    border: unset;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 22px;
    top: 1px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }

.kh-left-switch {
    border: unset;
    margin: unset;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px 15px;
    background-color: white;
    outline: none !important;
}

.kh-right-switch {
    border: unset;
    margin: unset;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 5px 15px;
    background-color: white;
    outline: none !important;
}

.kh-center-switch {
    border: unset;
    margin: unset;
    padding: 5px 15px;
    background-color: white;
    outline: none !important;
}

.kh-switch-active {
    background-color: #0081ff;
    color: white;
    outline: none !important;
}