.qol-section {
}

.qol-subsection {
    background-color: #f2f2f2;
    border-radius: 15px;
    padding: 30px;
    margin: 25px 0px;
    min-height: 75vh;
}

.kh-button {
    background: #0081ff;
    padding: 5px 25px;
    border-radius: 10px;
    color: white;
    border: unset;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

    .kh-button:hover {
        opacity: .75;
    }

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 22px;
    top: 1px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }


hr {
    border: 0;
    clear: both;
    display: block;
    width: 96%;
    background-color: #cdcdcd;
    height: 1px;
}

.rounded-selector {
    padding: 5px 10px;
    border: 1px solid #49b3ff;
    border-radius: 20px;
    margin: 5px;
    display: block;
    text-align: center;
    transition: background-color 0.5s ease;
}

    .rounded-selector:hover {
        background-color: #c1e5ff;
    }

.rounded-selected {
    background-color: #49b3ff;
}

.a-tag-selector {
    color: unset;
    text-decoration: none;
}

    .a-tag-selector:hover {
        color: white;
    }

.a-tag-selected {
    color: white;
}