@page "/guide"

<div class="guide-content">
    <div class="guide-header">
        <span class="bi-file-earmark-text" aria-hidden="true"></span>
        <div style="margin-top: 8px;">
            <h1 style="margin-left: 25px;"><b>Installation</b><b style="color: black"> Guide</b></h1>
            <div class="guide-sub-header"><b style="color: #fa2950;">NOTE:</b> <b>Be sure to backup your save data before following either of these guides!</b></div>
        </div>
    </div>

    <div class="row">
        <div id="text_tutorial" class="col-md-6">
            <div class="guide-section">
                <h3 class="guide-section-header"><span class="selector" style="background-color: #0f76f6;"></span><b style="color: #0f76f6;">Text</b> <b>Tutorial</b></h3>

                <br />

                <ol>
                    <li>Create, download and unzip the seed file generated using the Randomizer section on this website.</li>
                    <li>Navigate to your Epic Games Kingdom Hearts 3 installation folder, then create the folder <b style="color: #0f76f6;">~mods</b> in the following path: <b style="color: #0f76f6;">\KINGDOM HEARTS III\Content\Paks</b>.</li>
                    <li>Download the most recent GOA + Randomizer pak from the <a href="https://github.com/WaterKH/KH3RandomizerLogic" target="_blank">Official GitHub Repository</a> and place it in the folder created in the 2nd step.</li>
                    <li>Download this <a href="http://modderbase.com/showthread.php?tid=834" target="_blank">UnrealPak tool</a>, extract it, navigate to this folder and then drag-and-drop your seed folder onto the following .bat file: <b style="color: #0f76f6;">UnrealPak-With-Compression.bat</b>.</li>
                    <li>Finally, move this newly created .pak file to the <b style="color: #0f76f6;">~mods</b> folder you created in the 2nd step. Verify that no other incompatible mods exist within this folder or in your Paks folder.</li>
                    <li>Launch the game!</li>
                </ol>
            </div>
        </div>

        <div id="video_tutorial" class="col-md-6">
            <div class="guide-section">
                <h3 class="guide-section-header"><span class="selector" style="background-color: #fa2950;"></span><b style="color: #fa2950;">Video</b> <b>Tutorial</b></h3>

                <br />
                
                <div style="text-align: center;">
                    <iframe width="90%" height="360" src="https://www.youtube.com/embed/xmaWP5xgOqs" style="border-radius: 15px;"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    
}