@page "/resources"

<div class="resources-content">
    <div class="resources-header">
        <span class="bi-book" aria-hidden="true"></span>
        <div style="margin-top: 8px;">
            <h1 style="margin-left: 25px;"><b>Resources</b></h1>
        </div>
    </div>

    <div class="row">
        <div id="compatible_mods" class="col-md-6">
            <div class="resources-section">
                <h3 class="resources-section-header"><span class="selector" style="background-color: #FA2950;"></span>Compatible <b style="color: #FA2950;">Mods</b></h3>
            
                <p>
                    A list of compatible or recommended mods that can be used in tandem with the KH3 Randomizer. If there is a mod pak you would like to use that 
                    that isn't listed here, it may be unstable or cause issues. This list will try to stay updated regularly to be useful and relevant.
                </p>

                <ul>
                    <li><a href="https://www.nexusmods.com/kingdomhearts3/mods/1009" target="_blank">Map Enhancement Overhaul</a> by Davick173</li>
                </ul>
            </div>
        </div>

        <div id="external_tracker" class="col-md-6">
            <div class="resources-section">
                <h3 class="resources-section-header"><span class="selector" style="background-color: #43D967;"></span>Online <b style="color: #43D967;">Tracker</b></h3>

                <p>
                    An <a href="https://tracker.zaxu.xyz/" target="_blank">external tracker</a> for the KH3 Randomizer that is a very useful tool that displays what items you've aquired
                    during your run and also a good display for people when streaming. In the future, there are plans to incorporate an auto-tracker into the client version.
                </p>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="client" class="col-md-6">
            <div class="resources-section">
                <h3 class="resources-section-header"><span class="selector" style="background-color: #5AC4FF;"></span>Desktop <b style="color: #5AC4FF;">Client</b></h3>

                <p>
                    An offline alternative to this website, which is available <a href="https://github.com/WaterKH/KH3RandomizerClient/releases" target="_blank">here</a> on GitHub created by WaterKH.
                    This has faster compilation time, no reliance on server up time and has future plans for auto-paking, updating and tracking, all handled in one application.
                </p>
            </div>
        </div>

        <div id="discord" class="col-md-6">
            <div class="resources-section">
                <h3 class="resources-section-header"><span class="selector" style="background-color: #9555DC;"></span>Tourney &amp; Races <b style="color: #9555DC;">Discord</b></h3>

                <p>
                    If you're interested in competition, racing, tournaments and more, <a href="https://discord.com/invite/2PRHwXyZgp" target="_blank">join the official Discord</a> to stay up to date 
                    on all updates, contests, participate in casual or competive runs and races, and join in on future tournaments.
                </p>
            </div>
        </div>
    </div>
</div>


@code {
    
}