@page "/sourcecode"

<div class="source-code-content">
    <div class="source-code-header">
        <span class="bi bi-terminal" aria-hidden="true"></span>
        <h1 style="align-self: center; margin-left: 25px;"><b>Source</b><b style="color: black"> Code</b></h1>
    </div>

    <div style="margin-top: 15px;"></div>

    <div style="text-align: left; font-size: .8rem; "><b style="color: #9c5af3; ">NOTE:</b> Click the links below to view the Source Code on GitHub</div>

    <div style="margin-top: 25px;"></div>

    <div style="text-align: left; font-size: 1.25rem;"><b><i>KH3 Randomizer + Garden of Assemblage</i></b></div>

    <div class="row">
        <a class="col-md-4 github-container" href="https://github.com/Water-and-Critic/KH3-Rando-GoA" target="_blank" style="background-color: #781fd3;">
            <div>
                <div style="display: flex">
                    <div class="github-image" style="border: #aa7bdb 1px solid">
                        <img src="/images/waterkh.png" width="65" height="65" />
                    </div>
                    <div class="github-image" style="margin-left: 5px; background-color: white">
                        <img src="/images/critic_perfect.png" width="65" height="65" />
                    </div>
                </div>

                <div class="github-title">
                    WaterKH-and-Critic/ KH3-Rando-GoA
                </div>

                <hr style="margin-top: unset;" />

                <div class="github-body">
                    The combined KH3 Randomizer + Garden of Assemblage Mod Pack
                </div>

                <div class="github-logo">
                    <img src="/images/github_transparent.png" width="65" height="65" style="background: transparent;" />
                </div>
            </div>
        </a>
    </div>


    <hr />

    <div style="margin-top: 35px;"></div>

    <div style="text-align: left; font-size: .8rem;"><b style="color: #9c5af3; ">NOTE:</b> The links below are to view the separate projects on GitHub</div>

    <div style="margin-top: 25px;"></div>

    <div style="text-align: left; font-size: 1.25rem;"><b><i>KH3 Randomizer</i></b></div>

    <div class="row">
        <a class="col-md-4 github-container" href="https://github.com/waterkh/kh3randomizerlogic" target="_blank" style="background-color: #0968c9;">
            <div>
                <div class="github-image" style="border: #4c86c1 1px solid;">
                    <img src="/images/waterkh.png" width="65" height="65" />
                </div>

                <div class="github-title">
                    WaterKH/ KH3RandomizerLogic
                </div>

                <hr style="margin-top: unset;" />

                <div class="github-body">
                    UE4 Blueprint project
                </div>

                <div class="github-logo">
                    <img src="/images/github_transparent.png" width="65" height="65" style="background: transparent;" />
                </div>
            </div>
        </a>

        <a class="col-md-4 github-container" href="https://github.com/waterkh/kh3randomizerwebsite" target="_blank" style="background-color: #0db4b9;">
            <div>
                <div class="github-image" style="border: #6cdadd 1px solid;">
                    <img src="/images/waterkh.png" width="65" height="65" />
                </div>

                <div class="github-title">
                    WaterKH/ KH3RandomizerWebsite
                </div>

                <hr style="margin-top: unset;" />

                <div class="github-body">
                    Website hosting the KH3 Randomizer
                </div>

                <div class="github-logo">
                    <img src="/images/github_transparent.png" width="65" height="65" />
                </div>
            </div>
        </a>

        <a class="col-md-4 github-container"  href="https://github.com/waterkh/ue4datatableinterpreter" target="_blank" style="background-color: #781fd3;">
            <div>
                <div class="github-image" style="border: #aa7bdb 1px solid">
                    <img src="/images/waterkh.png" width="65" height="65" />
                </div>

                <div class="github-title">
                    WaterKH/ UE4DataTableInterpreter
                </div>

                <hr style="margin-top: unset;" />

                <div class="github-body">
                    A Nuget Package used in the KH3RandomizerWebsite to parse UE4 DataTables
                </div>

                <div class="github-logo">
                    <img src="/images/github_transparent.png" width="65" height="65" />
                </div>
            </div>
        </a>
    </div>

    <div style="margin-top: 15px;"></div>

    <div style="text-align: left; font-size: 1.25rem;"><b><i>KH3 Garden of Assemblage</i></b></div>

    <div class="row">
        <a class="col-md-4 github-container" href="https://github.com/Criticp/GoABeta" target="_blank" style="background-color: #0db4b9;">
            <div>
                <div class="github-image" style="background-color: white;">
                    <img src="/images/critic_perfect.png" width="65" height="65" />
                </div>

                <div class="github-title">
                    Criticp/ GoABeta
                </div>

                <hr style="margin-top: unset;" />

                <div class="github-body">
                    UE4 Blueprint project
                </div>

                <div class="github-logo">
                    <img src="/images/github_transparent.png" width="65" height="65" />
                </div>
            </div>
        </a>
    </div>
</div>


@code {
    
}