.options-section {
    
}

.options-subsection {
    min-width: 100%;
    width: 100%;
    min-height: 100%;
    border-radius: 15px;
    padding: 30px;
    margin: 25px 0px;
}

.kh-input {
    background: #0081ff;
    padding: 5px 25px;
    margin: 0px 0px -35px 15px;
    border-radius: 10px;
    color: white;
    border: unset;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.kh-hide-input {
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
}

.kh-display-input {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.kh-inputfield {
    padding: 5px 15px;
    margin-top: 5px;
    border-radius: 5px;
    border: #489cdf 1px solid;
    width: 75%;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
    text-align: left;
}

.kh-label {
    transition: opacity 0.3s ease-in-out;
    font-size: 1.3rem;
    padding: 5px 0px 0px 0px;
}
    
input:focus {
    border: unset;
}

.kh-button {
    background: #0081ff;
    padding: 5px 25px;
    border-radius: 10px;
    color: white;
    border: unset;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.kh-button:hover {
    opacity: .75;
}

.suboption-section {
    overflow-y: scroll;
    max-height: 700px;
    padding: 0px 25px 15px 25px;
}

.suboption-subsection {
    background: white;
    overflow-y: scroll;
    max-height: 700px;
    padding: 25px;
}

.suboption-radio {
    min-width: 100%;
    border-radius: 30px;
    padding: 30px 25px 20px 25px;
    margin-bottom: 25px;
    background: white;
    cursor: pointer;
}

.suboption-radio-active {
    border: 1px solid #2196F3;
    min-width: 100%;
    border-radius: 30px;
    padding: 30px 25px 20px 25px;
    margin-bottom: 25px;
    background: white;
    cursor: pointer;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 22px;
    top: 1px;
}

    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 16px;
        width: 16px;
        left: 4px;
        bottom: 3px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }


/* width */
::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
        border-radius: 10px;
    }


.spoiler-overlay {
    filter: blur(6px);
    pointer-events: none;
}


.option-selection {
    display: -webkit-inline-box;
    width: 100%;
    margin-top: 25px;
}

.rounded-selector {
    padding: 5px 10px;
    border: 1px solid #49b3ff;
    border-radius: 20px;
    margin: 5px;
    display: block;
    text-align: center;
    transition: background-color 0.5s ease;
}

    .rounded-selector:hover {
        background-color: #c1e5ff;
    }

.rounded-selected {
    background-color: #49b3ff;
}

.a-tag-selector {
    color: unset;
    text-decoration: none;
}

    .a-tag-selector:hover {
        color: white;
    }

.a-tag-selected {
    color: white;
}