.collapsable-half {
    border-radius: 10px 10px 0px 0px;
    /*border: 1px solid #d5d1d1;*/
    border-bottom: unset;
    padding: 10px 25px 0px 25px;
}

.collapsable-full {
    border-radius: 10px;
    /*border: 1px solid #d5d1d1;*/
    padding: 10px 25px;
}

.collapsable-panel {
    padding: 40px 30px;
    max-height: 750px;
    background-color: #F2F2F2;
    /*border: 1px solid #d5d1d1;*/
    border-top: unset;
    border-radius: 0px 0px 10px 10px;
}

.collapsable .title {
    cursor: pointer;
}

.collapsable {
    margin-top: 15px;
}